<p-card
  header="{{ post.title }}"
  [style]="{ width: '25rem', 'margin-bottom': '2em', cursor: 'pointer' }"
  (click)="onClick()"
>
  <ng-template pTemplate="header">
    <img alt="Card" src="{{ post.image }}" />
  </ng-template>
  <div>
    <p>
      {{ post.body | truncate : 500 }}
    </p>
  </div>
  <ng-template pTemplate="footer">
    <div class="chips">
      <p-chip
        label="{{ post.authorName }}"
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
        alt="Avatar image"
      />
      <p-chip label="{{ post.publishedOn | date }}" />
    </div>
  </ng-template>
</p-card>
