.post {
  width: 40%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 2em;
}

.image-container {
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 2em;
  border-radius: 20px;
}

.chips {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.body {
  line-height: 1.5;
}
